/*colors*/
    h1 {
        background-color:bisque;
        color:teal}
    h2 {
        background-color:teal
        color : bisque
    }
    p {
        background-color: bisque;
        color:rgb(31, 35, 31)
    }
/*font*/


    body {
            font-family: sans-serif, serif;
            font-size: medium;
        }
    h1 {
            font-size: larger;
        }
    h2 {
            font-size: large;
        }

/*spacing of words and texts*/
h1,h2 {
    text-transform: uppercase;
    letter-spacing: 0.1em;}
.articles {
    font-weight: bold;
    word-spacing: 0.2em;
}
/*boxes settings*/

p.articles {
    width: auto
    border : 2px solid #0088dd;
}
div.articles{
    height: 300px;
    width: 400px;
    background-color: rgb(216, 218, 233);
}
p.articles{
    height: 75%;
    width: 75%;
    background-color: beige;
}

/*in case of overflow of text*/

p.articles {
    overflow:scroll;
}

p.articles {
    border-width:thick;

}

img.articles {
    float:left;
    margin-right: 10px
}

fieldset
{
    width:350px;
    border:1px solid #dcdcdc
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
    padding: 10px 20px
    text-align:left
    text-transform: uppercase;
}

div.articles
    body{

    background-color: rgba(255, 255, 104, 0.416);
    width: 300px;
    border: 15px solid rgb(86, 72, 133);
    padding: 50px;
    margin: 20px;
    }